{% extends 'Notify/feedback.html' %}

{% block content %}
    <div class="container">
    <h1>Task List</h1>
    <form method="POST" id="contact"> {% csrf_token %}
        <h3>Feedback Form</h3>
        {% for field in form %}
            <div class="fieldWrapper">
            <fieldset>
                {{ field.errors }}
            </fieldset>
                <fieldset>
                    {{ field }}
                </fieldset>
            </div>
        {% endfor %}
        <fieldset>
            <button name="submit"type="submit" id="contact-submit" data-submit="...Sending"> Post </button>
        </fieldset>
    </form>
    </div>
{% endblock %}
